.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px; 
  gap: 50px;
  /* margisn-bottom: 150px; */
  /* or magin-top: 125px? */
}

.gallery__photos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;  
}

.gallery__photo {
  height: 350px;
  width: 280px;
  object-fit: cover;
  border-radius: 5px 5px 5px 5px;
}

.gallery__background {
  position: relative;
  display: inline-block;
}

.gallery__background::after {
  content: "";
  position: absolute;
  background-color: #1d1e22; 
  height: 500px; 
  width: 112%; 
  bottom: -21%; 
  left: -6%;
  z-index: -1;
  border-radius: 5px 5px 5px 5px;
}