.nav__bar {
  display: flex;
  align-items: flex-start;
  margin: 3vh 3vh
}

.nav__website {
  flex: 90;
}

#nav__title {
  font-size: var(--title-size);
  font-family: var(--text-font);
  font-weight: 300;
}

.nav__icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
  /* width: 15vh; */

}
.nav__icon {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 480px) {
  .nav__bar {
    margin: 4vh 3vh;
    align-items: flex-start;
  }

  .nav__website {
    width: 300vh;
    line-height: 40px;
  } 

  .nav__icons {
    width: 15vh;
  }

}



