.nav__bar {
  display: flex;
  margin-top: 3vh; 
  margin-left: 3vw;
  margin-right: 3vw;
  justify-content: space-between;
}


#nav__title {
  font-size: var(--title-size);
  font-family: var(--text-font);
  font-weight: 300;
}

.nav__icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
  /* width: 15vh; */

}
.nav__icon {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 480px) {
  .nav__bar {
    margin: 3vh 3vw; 
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 6vw;
    /* flex-direction: column; */
    /* justify-content: center; */
  }

  #nav__title {
    font-size: 30px;
    text-align: left;
    width: 100vw;
  
  }

  .nav__icons {
    width: 12vh;
  }

  .nav__icon {
    width: 17px;
    height: 17px;
  }

}



