.search__container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
  margin-bottom: 10px;
}

.search__title {
  font-size: var(--title-size);
}

.search__span {
  position: relative;
  display: inline-block;
}

.search__span::after {
  content: "";
  position: absolute;
  background-color: #25279c; /* Choose your desired color */
  height: 15px; /* Adjust the height as needed */
  width: 110%; /* Full width of the word */
  bottom: -10%; /* Position at the bottom of the word */
  left: -5%;
  z-index: -1;
  border-radius: 5px 5px 5px 5px;
}

.search__and__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  /* background-color: pink; */
}

.search__input {
  font-size: 18px; 
  font-family: var(--text-font);
  /* padding: 10px 20px;  */
  padding-left: 20px;
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 10px; 
  color: black;
  outline: none; 
  transition: box-shadow 0.3s ease; 
  font-weight: 300;

}

.search-input:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
}

.search-input::placeholder {
  color: #BBBBBB; 
  font-weight: 300;
}

.sort__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
}

.sort__dropdown {
  font-size: 18px; 
  font-weight: 300;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 70px;
  height: 40px;
  align-items: center;
  color: black;
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown__content {
  font-size: 18px; 
  font-weight: 300;
  position: absolute;
  top: 100%;  /* Ensures that it appears right below the selected__sort div */
  background-color: white;
  width: 70px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 5px;
}

.dropdown__item {
  padding-top: 5px;
}

.table__container {
  min-height: 500px;
}

table {
  width: 900px;
  border-collapse: collapse;
  /* border: 1px solid white; */
}

th, td {
  width: 33.33%;
  padding: 10px;
  /* text-align: left; */
}

th {
  text-align: center;
  border-bottom: 1px solid white;
  font-size: 25px;
  font-weight: bolder;
}


td {
  font-size: 18px;
  font-weight: 300;
}

.cover__title {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  width: auto;
  }

.album__cover {
  min-height: 50px;
  min-width: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
}


