.carousel__container{
  margin-top: 10vw;
}

#blank__space {
  line-height: 40px;
  color: rgba(17,17,17,255);
}

.carousel__quote {
  font-size: 50px;
  margin-left: 160px;
  font-weight: 300;
}

.carousel__title {
  font-size: var(--title-size);
  font-weight: 300;
  text-align: center;
  /* margin-top: 50px; */
}


.carousel__span {
  position: relative;
  display: inline-block;
}

.carousel__span::after {
  content: "";
  position: absolute;
  background-color: #f9f9f9; /* Choose your desired color */
  height: 5px; /* Adjust the height as needed */
  width: 100%;
  bottom: -20%; /* Position at the bottom of the word */
  left: 0%;
  z-index: -1;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  width: 100%;
  padding-right: 6vw;
  padding-left: 6vw;
}

.carousel__buttons {
  width: 50px; 
  height: 50px; 
  padding: 5px; 
  border: none; /* Optional: Removes border */
  background-color: transparent; 
  z-index: 100;
}

/* CSS class for the image within the button */
.carousel__buttons img {
  width: 100%;  /* Makes the image fill the button */
  height: auto; /* Keeps the image aspect ratio */
}

.song__carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}
.song__info {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 25px;
}

#song__cover {
  width: 250px;
  height: 250px;
  border-radius: 7px;
}

.song__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 3vh;
}

#song__title {
  font-size: 25px;
  font-weight: 300;
}

#song__artist {
  font-weight: 300;
}

