.carousel__container{
  margin-top: 10vw;
}

#blank__space {
  line-height: 40px;
  color: rgba(17,17,17,255);
}

.carousel__quote {
  font-size: 50px;
  margin-left: 160px;
  font-weight: 300;
}

.carousel__title {
  font-size: var(--title-size);
  font-weight: 300;
  text-align: center;
}


.carousel__span {
  position: relative;
  display: inline-block;
}

.carousel__span::after {
  content: "";
  position: absolute;
  background-color: #f9f9f9; 
  height: 5px; 
  width: 100%;
  bottom: -20%; 
  left: 0%;
  z-index: -1;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  width: 100%;
  padding-right: 6vw;
  padding-left: 6vw;
}

.carousel__buttons {
  width: 50px; 
  height: 50px; 
  padding: 5px; 
  border: none;
  background-color: transparent; 
  z-index: 100;
}

.carousel__buttons img {
  width: 100%;  
  height: auto; 
}

.song__carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.song__info {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 25px;
}

#song__cover {
  width: 250px;
  height: 250px;
  border-radius: 7px;
}

.song__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 3vh;
}

#song__title {
  font-size: 25px;
  font-weight: 300;
}

#song__artist {
  font-weight: 300;
}

#song__title, #song__artist {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 10vw;
  min-width: 10vw;
}



@media only screen and (max-width: 480px) {
  .carousel__container {
    margin-top: 3vh;
    width: 100vw;
  }
  .carousel__quote {
    text-align: left;
    margin-left: 6vw;
    font-size: 40px;
    line-height: 50px;
  }

  .carousel {
    width: 100%;
    margin-top: 5vh;
  }

  .browse__popular {
    width: 44vh;
  }

  .song__info {
    margin: 0 0vh;

  }

  .song__text {
    margin-top: 1vh;
  }

  #song__cover {
    width: 135px;
    height: 135px;
  }
  
  #song__title {
    font-size: 18px;
    font-weight: 400;
  }

  #song__artist {
    font-size: 15px;
  }

  #song__title, #song__artist {
    max-width: 30vw;
    min-width: 30vw;
  }

  .song__carousel {
    width: 50vw;
  }
  .carousel__buttons {
    width: 30px;
    height: 30px;
    padding: 0;
  }




}
