.landing__page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; Adjust as needed to center vertically on the viewport */
  text-align: center; /* Center-align text within the container */  
}

.landing__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; Adjust as needed to center vertically on the viewport */
  text-align: center;
  font-family: var(--text-font);
  margin-top: 135px;
}

#landing__quote {
  font-size: 80px;
  width: 1500px;
  /* line-height: 85px; */
  margin-bottom: 50px;
}

.landing__highlight {
  position: relative;
  display: inline-block;
}

.landing__highlight::after {
  content: "";
  position: absolute;
  background-color: #25279c; /* Choose your desired color */
  height: 20px; /* Adjust the height as needed */
  width: 110%; /* Full width of the word */
  bottom: 10%; /* Position at the bottom of the word */
  left: -5%;
  z-index: -1;
  border-radius: 5px 5px 5px 5px;
}

#landing__info {
  font-size: 30px;
  text-align: center;
  width: 740px;
  line-height: 40px;
  margin-bottom: 50px;
  font-weight: 300;
}

.landing__icon {
  width: 20px;
  height: 20px;
}

.landing__btns {
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-between;
  font-size: var(--title-size);
}

#book__btn {
  font-size: var(--title-size);
  font-family: var(--text-font);
  padding: 10px 15px 4px 15px;
  border-radius: 5px 5px 5px 5px;
  font-weight: 300; 
}

.landing__browse {
  display: flex;
  width: 235px;
  justify-content: space-between;
  font-weight: 300; 
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
