.landing__page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--text-font);
  margin-top: 135px;
  font-weight: 300; 
}

#landing__quote {
  font-size: 80px;
  width: 1500px;
  /* width: 90vb; */
  /* line-height: 85px; */
  margin-bottom: 50px;
}

@keyframes underline-slide {
  from {
    width: 0%;
  }
  to {
    width: 105%;
  }
}

.landing__highlight {
  position: relative;
  display: inline-block;
}

.landing__highlight::after {
  content: "";
  position: absolute;
  background-color: #f9f9f9;
  height: 15px;
  width: 0%; 
  bottom: -10%; 
  left: -3%;
  z-index: -1;
  transition: width 2s ease;
  animation: underline-slide 1s ease forwards; 
}


#landing__info {
  font-size: 30px;
  text-align: center;
  width: 740px;
  line-height: 40px;
  margin-bottom: 50px;
  font-weight: 300;
}

.landing__icon {
  width: 20px;
  height: 20px;
}

.landing__btns {
  display: flex;
  align-items: center;
  width: 375px;
  justify-content: space-between;
  font-size: var(--title-size);
}

#book__btn {
  font-size: var(--title-size);
  font-family: var(--text-font);
  padding: 10px 15px 4px 15px;
  border-radius: 5px 5px 5px 5px;
  font-weight: 300; 
  background-color: #f9f9f9;
  color: rgba(17,17,17,255);
}

.landing__browse {
  display: flex;
  width: 235px;
  justify-content: space-between;
  font-weight: 300; 
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 480px) {
  .landing__page {
    width: 100%;
  }

  .landing__text {
    margin-top: 3vh;
    align-items: flex-start;
  }

  #landing__quote {
    width: 50vh;
    font-size: 60px;
    text-align: left;
    line-height: 70px;
    margin-left: 12vw;
    margin-bottom: 3vh;
  }

  #landing__info {
    width: 45vh;
    text-align: left;
    margin-left: 12vw;
    font-size: 25px;
    margin-bottom: 4vh;
  }

  .landing__highlight {
    margin-bottom: 15px;
  }

  .landing__highlight::after {
    height: 13px;
    bottom: -7%;
    left: 0px;
    width: 100%
  }

  .landing__btns {
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1vh;
    font-size: 30px;
  }

  #book__btn {
    font-size: 30px;
  }

  #landing__btn {
    width: 15vw;
  }
}

@keyframes underline-slide {
  from {
    width: 0%;
  }
  to {
    width: 105%;
  }
}

@media only screen and (max-width: 480px) {
  @keyframes underline-slide {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
}
